html, 
body {
 
    height: 100%;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: myFirstFont;
    
      font-size: 100%;
      font-weight: 100;

     
      /* padding-top: env(safe-area-inset-top); */
      
      
}
@font-face {
  font-family: myFirstFont;
  src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
}

.cover {
  /* footer shit */
  display: flex;
  flex-direction: column;
   /* footer shit */
    
    /* background-color:rgb( 47, 50, 90); */
  
    background-image: linear-gradient(#40457d, black);
       background-attachment: fixed;
 
 }
 .fixthemontnext{
     background-size: cover;
     background-attachment: local;
 }
 h1{
     color: white;

 }
 .content{
    /* footer shit */
  flex: 1 0 auto;
   /* footer shit */
 }
 
 .footer {
   /* footer shit */
  flex-shrink: 0;
    /* footer shit */
    font-size: 14px;
  height: 32px;
  background-color: #31373eba;
  color: #ffffff9c;
  text-align: center;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  
 }

 .calender{
   background-color: #2b2b2b;
 }
 .calender td{
   color: #f1f1f1;
   text-align: center;
   transition: 0.3s;
 }
 .calender td:hover{
  background-color: #E9EFF6;
  
}
 
 .month td{
   text-align: center;
   padding: 2px;

   width: 40px;
   height: 20px;
 }
 
 .curvy {
    
    padding: 0.4rem 0rem;
    background-color: #6d7a88;
    border-bottom-left-radius: 2.2rem; 
    border-bottom-right-radius: 2.2rem;
    box-shadow: 0 3px 21px 4px;
    animation: jamboanimate 1s forwards 0s ease;
    
    
            }
            @keyframes jamboanimate{
                0%{
                    transform:  scale(1) translateY(-80%);
                    opacity: 0;
                    }
                100%{
                    transform:  scale(1) translateY(0) ;
                    opacity: 1;
                    }
            }
            
            .centered {
                position: fixed;
                top: 50%;
                left: 50%;
                /* bring your own prefixes */
                transform: translate(-50%, -50%);
              }

            .cardbetter{
                position: relative;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    min-width: 0px;
                    word-wrap: break-word;
                    /* background-color: #fff; */
                    background-clip: border-box;
                  
                   
                
                    border-radius: 0.25rem;
                    /* padding: 0px; */
                    padding-left: 50px;
                    padding-right: 50px;
                    margin: 2px;
                    margin-top: 25px;
                    animation: openaimation 1.5s forwards 0s ease;
                    opacity: 0;
                }
                @keyframes openaimation{
                    0%{
                        opacity: 0;
                        }
                    100%{
                        transform: rotate(xx);
                        opacity: 1;
                        }
                }
                
                
                   
                
                .profile {
                    margin-top: 2.2em;
                    /* margin-bottom: 25px; */
                    position: relative;
                    border: #000;
                    border-width: 2px;
                    animation: openaimation 1.5s forwards 0s ease;
                    opacity: 0;
                }
               
                .openanimationc{
                    opacity: 0;
                    animation: openaimation 1.5s forwards 0.5s ease;
                    
                }
                .openanimationc_nodelay{
                    opacity: 0;
                    animation: openaimation 0.5s forwards 0s ease;
                    
                }
                @keyframes openaimation{
                    0%{
                        opacity: 0;
                        }
                    100%{
                        transform: rotate(xx);
                        opacity: 1;
                        }
                }
                
                .thumbnail {
                    width: 124px;
                    height: 124px;
                    display: flex;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: -15px;
                    margin-bottom: 1.5em;
                    border-radius: 100%;
                    box-shadow: 0 0px 42px 5px rgba(0, 0, 0, 1)
                    
                  }
                 
                  .name {
                    color: #f4f7ff;
                      font-size: 30px;
                      font-weight: 600;
                      text-align: center;
                      margin-bottom: 5px;
                      letter-spacing: 3.5px;

                  }
                  .week_num{
                    text-align: center;
                    padding-bottom: 10px;
                    letter-spacing: 2.5px;
                    font-size: 30px;

                  }
                 
                  .week{
                    width: 90%;
                    padding-top: 15px;
                    margin-top: 15px;
                    border-bottom: 2px solid #E9EFF6;
                border-bottom-color: rgba(233, 239, 246, 0.22);
                /* padding-bottom: 35px; */
                margin-bottom: 35px;

                
                /* border-bottom-color: rgba(233, 239, 246, 0.22); */
                /* border-image: linear-gradient(to left, #a286d0 0%, #3ad5d1 100%);
                border-radius: 8px;
                border-image-slice: 1; */
                  }
                  .title {
                      color: #d4e1f1d6;
                      font-size: 28px;
                      font-weight: 300;
                      text-align: center;
                      margin-bottom: 8px;
                      letter-spacing: 1.5px;
                      text-transform: uppercase;
                  }
                  .title-team {
                    color: #ffffff70;
                    font-size: 20px;
                    font-weight: 300;
                    text-align: center;
                    margin-bottom: 10px;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                }
                  .btn {
                    /* color: #fff; */
                    width: 130px;
                    height: 42px;
                    outline: none;
                    border: none;
                    display: block;
                    cursor: pointer;
                    font-weight: 300;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 70px;
                    margin-bottom: 30px;
                    margin-top: 20px;
                    /* box-shadow: 0 13px 26px rgba(#000, .16), 0 3px 6px rgba(#000, .16); */
                  }      
               .phone {
                text-align: center;
                /* color: #bbbcd2; */
                /* font-size: 20px; */
                /* margin-bottom: 10px; */
                letter-spacing: 1.5px;
                padding-top: 8px;


               }

               .sidenav {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                 top: 0;
                 left: 0;
                  background-color: #2b2b2b;
                 overflow-x: hidden;
                 transition: 0.6s;
                 padding-top: 60px;
                 border-bottom-right-radius: 100%;
                 /* transition: 0.3s; */
            }
            
             /* navbar */
            .sidenav a {
                font-family: 'Open Sans', sans-serif;
                font-size: 100%;
                padding: 5px 8px 8px 32px;
                border-bottom: 2px solid #E9EFF6;
                border-bottom-color: rgba(233, 239, 246, 0.22);
                text-decoration: none;
                font-size: 22px;
                text-align: left;
                color: #E9EFF6;
                display: block;
                transition: 0.3s;
                
            }
            
            .sidenav a:hover {
                color: #f1f1f1;
            }
            
            .sidenav .closebtn {
                position: absolute;
                top:-11px;
                right: 8px;
                font-size: 36px;
                margin-left: 50px;
                color: #E9EFF6;
                border-bottom: none;
            }
            .navhamburger {
                font-size:30px;
                cursor:pointer;
                 position:absolute; 
                 right: 0px;
                  top: -4px;
                   color: white;
                    padding-right: 9px;
                    
            }
            
            .clickanamation{
                transition: 0.2s;
            
            }
            .clickanamation:active{
                opacity: .3;
                
                
            }
            
            .jborder{
                border-bottom: 2px solid #E9EFF6;
                border-bottom-color: rgba(233, 239, 246, 0.22);
                position: absolute;
             
                left: 50%;
                /* bring your own prefixes */
                transform: translate(-50%, -50%);
                width: 0%;

                animation: borderanimation 1.5s forwards 1s ease;
                
            }
            @keyframes borderanimation{
                0%{
                    width: 0%;
                    }
                100%{
                    
                    width: 70%;
                    }
            }

            @media screen and (max-height: 450px) {
              .sidenav {padding-top: 15px;}
              .sidenav a {font-size: 18px;}
            }
                  /* navbar */
.visitpage{
    
    opacity: 0.3;
    
}

.infodiv{

    position: relative;
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
    color: #f5f5f5bf;
    
    /* max-width: 400px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 115px; */
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1.8px;
    margin-bottom: 90px;
}



/* -----loader------- */
.lds-roller {
    display: flex;
    position: absolute;
    width: 64px;
    height: 64px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /* -----loader------- */

  /* Month header */
.month {
  padding: 15px 25px;
  width: 100%;
  /* border-radius: 70px; */
  /* background: #1abc9c; */
  text-align: center;
  border-bottom: 6px solid #E9EFF6;
    border-bottom-color: #90b9ea8c;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

.slide-out-right {
	-webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}
.slide-in-left {
	-webkit-animation: slide-in-left 0.5s  cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s  cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.slide-out-left {
	-webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}
.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
